# Copyright (c) 2022, the Dart project authors.  Please see the AUTHORS file
# for details. All rights reserved. Use of this source code is governed by a
# BSD-style license that can be found in the LICENSE file.

name: jni
description: A library to access JNI from Dart and Flutter that acts as a support library for package:jnigen.
version: 0.13.0
repository: https://github.com/dart-lang/native/tree/main/pkgs/jni
issue_tracker: https://github.com/dart-lang/native/issues?q=is%3Aissue+is%3Aopen+label%3Apackage%3Ajni

topics:
  - interop
  - ffi
  - java
  - kotlin
  - jni

environment:
  sdk: ^3.6.0
  flutter: '>=2.11.0'

resolution: workspace
dependencies:
  args: ^2.5.0
  ffi: ^2.1.3
  meta: ^1.15.0
  package_config: ^2.1.0
  path: ^1.9.0
  plugin_platform_interface: ^2.1.8

dev_dependencies:
  dart_flutter_team_lints: ^3.2.0
  ## Pin ffigen version because we are depending on internal APIs.
  ffigen: ^16.0.0
  logging: ^1.2.0
  test: ^1.25.8

# The following section is specific to Flutter packages.
flutter:
  plugin:
    platforms:
      linux:
        ffiPlugin: true
      windows:
        ffiPlugin: true
      android:
        ffiPlugin: true
        package: com.github.dart_lang.jni
        pluginClass: JniPlugin
