@layer reset, base, tokens, recipes, utilities;

@layer base {
    body {
        font-family: "Reddit Mono Variable", sans-serif;
    }
}

.cm-content {
    font-family: "Reddit Mono Variable", monospace;
    font-size: 0.825rem;
}
