name: wrong_linker
description: Package that tries to add an asset with an id not prefixed by its package name.
version: 0.1.0

publish_to: none

resolution: workspace

environment:
  sdk: '>=3.10.0 <4.0.0'

dependencies:
  code_assets: any
  hooks: any

dev_dependencies:
  lints: ^6.0.0
