# Copyright (c) 2024, the Dart project authors.  Please see the AUTHORS file
# for details. All rights reserved. Use of this source code is governed by a
# BSD-style license that can be found in the LICENSE file.

name: objective_c
description: 'A library to access Objective C from Flutter that acts as a support library for package:ffigen.'
version: 9.2.1
repository: https://github.com/dart-lang/native/tree/main/pkgs/objective_c
issue_tracker: https://github.com/dart-lang/native/issues?q=is%3Aissue+is%3Aopen+label%3Apackage%3Aobjective_c

topics:
  - interop
  - ffi
  - objective-c
  - codegen

resolution: workspace

environment:
  sdk: '>=3.10.0 <4.0.0'

dependencies:
  code_assets: ^1.0.0
  collection: ^1.19.1
  ffi: ^2.1.0
  hooks: ^1.0.0
  logging: ^1.3.0
  native_toolchain_c: ^0.17.4
  pub_semver: ^2.1.4

dev_dependencies:
  args: ^2.6.0
  dart_flutter_team_lints: ^3.5.2
  ffigen: ^21.0.0-wip
  native_test_helpers:
    path: ../native_test_helpers/
  path: ^1.9.0
  test: ^1.26.2
  yaml: ^3.1.0
