name: native_add_duplicate
description: Introduces the same dylib as native_add, to introduce a conflict.
version: 0.1.0

publish_to: none

resolution: workspace

environment:
  sdk: '>=3.8.0 <4.0.0'

dependencies:
  code_assets: ^0.19.0
  hooks: ^0.19.1
  logging: ^1.3.0
  native_add:
    path: ../native_add/
  native_toolchain_c: ^0.16.1

dev_dependencies:
  ffigen: ^18.0.0
  lints: ^5.1.1
  some_dev_dep:
    path: ../some_dev_dep/
  test: ^1.25.15
