name: native_add_source
description: Sums two numbers with native code.
version: 0.1.0

publish_to: none

resolution: workspace

environment:
  sdk: '>=3.8.0 <4.0.0'

dependencies:
  code_assets: ^0.19.3
  hooks: ^0.19.3
  logging: ^1.3.0
  native_toolchain_c: ^0.16.2

dev_dependencies:
  ffigen: ^18.0.0
  lints: ^5.1.1
  some_dev_dep:
    path: ../some_dev_dep/
  test: ^1.25.15
