name: fail_build
description: Always fails to build
version: 0.1.0

publish_to: none

resolution: workspace

environment:
  sdk: '>=3.9.0 <4.0.0'

dependencies:
  code_assets: any
  hooks: any

dev_dependencies:
  ffigen: ^21.0.0-wip
  lints: ^6.0.0
  test: ^1.25.15
