name: add_asset_link
description: Add a dylib in the link step.
version: 0.1.0

publish_to: none

resolution: workspace

environment:
  sdk: '>=3.9.0 <4.0.0'

dependencies:
  code_assets: any
  hooks: any
  logging: ^1.3.0
  meta: ^1.16.0
  native_toolchain_c: any

dev_dependencies:
  lints: ^6.0.0
  test: ^1.25.15
