name: no_hook
description: Has no hook, but has a dep on package:hooks.
version: 0.1.0

publish_to: none

resolution: workspace

environment:
  sdk: '>=3.9.0 <4.0.0'

dependencies:
  code_assets: any
  hooks: any
  logging: ^1.3.0
  native_toolchain_c: any

dev_dependencies:
  ffigen: any
  lints: ^6.0.0
  some_dev_dep:
    path: ../some_dev_dep/
  test: ^1.25.15
