name: fail_on_os_sdk_version_linker
description: Fails the link due to OS API levels.
version: 0.1.0

publish_to: none

resolution: workspace

environment:
  sdk: '>=3.8.0 <4.0.0'

dependencies:
  code_assets: ^0.19.0
  hooks: ^0.19.1

dev_dependencies:
  ffigen: ^18.0.0
  lints: ^5.1.1
  test: ^1.25.15
