name: package:c_compiler
permissions: read-all

on:
  pull_request:
    branches: [main]
    paths:
      - ".github/workflows/c_compiler.yml"
      - "pkgs/c_compiler/**"
  push:
    branches: [main]
    paths:
      - ".github/workflows/c_compiler.yml"
      - "pkgs/c_compiler/**"
  schedule:
    - cron: "0 0 * * 0" # weekly

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: pkgs/c_compiler
    strategy:
      matrix:
        sdk: [stable, dev] # {pkgs.versions}
        include:
          - sdk: stable
            run-tests: true
    steps:
      - uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3
      - uses: dart-lang/setup-dart@d6a63dab3335f427404425de0fbfed4686d93c4f
        with:
          sdk: ${{matrix.sdk}}

      - run: dart pub get

      - run: dart analyze --fatal-infos

      - run: dart format --output=none --set-exit-if-changed .
        if: ${{matrix.run-tests}}

      - run: dart test
        if: ${{matrix.run-tests}}

      - name: Install coverage
        run: dart pub global activate coverage
        if: ${{ matrix.sdk == 'stable' }}
      - name: Collect coverage
        run: dart pub global run coverage:test_with_coverage
        if: ${{ matrix.sdk == 'stable' }}
      - name: Upload coverage
        uses: coverallsapp/github-action@67662d24394fd74bffcf7b462d1b432814159afd
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name: c_compiler
          path-to-lcov: ./pkgs/c_compiler/coverage/lcov.info
        if: ${{ matrix.sdk == 'stable' }}
