# Run the ffigen tests on apple silicon once a week. Unlike the other GitHub
# CI hosts, this one isn't free, so we don't run it on every commit.

name: ffigen_weekly

on:
  # Run once a week.
  push:
    branches: [main, stable]
    paths:
      - '.github/workflows/ffigen_weekly.yml'
  pull_request:
    branches: [main, stable]
    paths:
      - '.github/workflows/ffigen_weekly.yml'
  schedule:
    - cron: "0 0 * * 0"

env:
  PUB_ENVIRONMENT: bot.github

jobs:
  # Keep in sync with ffigen.yaml:test-mac
  test-mac-arm64:
    runs-on: 'macos-14-large' # x64
    defaults:
      run:
        working-directory: pkgs/ffigen/
    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938
      - uses: subosito/flutter-action@44ac965b96f18d999802d4b807e3256d5a3f9fa1
        with:
          channel: 'stable'
      - name: Install dependencies
        run: flutter pub get && flutter pub get --directory="../objective_c"
      - name: Build test dylib and bindings
        run: dart test/setup.dart
      - name: Run VM tests
        run: flutter test
