name: Health
on:
  pull_request:
    branches: [ main ]
    # Remove paths after https://github.com/bmw-tech/dart_apitool/issues/177 is addressed.
    paths:
      - ".github/workflows/health.yaml"
      - "pkgs/**"
    types: [opened, synchronize, reopened, labeled, unlabeled]
jobs:
  health:
    uses: dart-lang/ecosystem/.github/workflows/health.yaml@healthFixes
    with:
      coverage_web: false
      # TODO(https://github.com/dart-lang/native/issues/1242): Add coverage back.
      checks: "changelog,license,do-not-submit,breaking,leaking"
      flutter_packages: "pkgs/ffigen,pkgs/jni,pkgs/jnigen,pkgs/objective_c"
      ignore_packages: "pkgs/swiftgen"
      sdk: dev
      channel: master
    permissions:
      pull-requests: write
