name: native_doc_dartifier

on:
  push:
    branches: [main]
    paths:
      - ".github/workflows/native_doc_dartifier.yaml"
      - "pkgs/native_doc_dartifier/**"
  pull_request:
    branches: [main]
    paths:
      - ".github/workflows/native_doc_dartifier.yaml"
      - "pkgs/native_doc_dartifier/**"

env:
  PUB_ENVIRONMENT: bot.github
  GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}

jobs:
  analyze_and_test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: pkgs/native_doc_dartifier/
    strategy:
      fail-fast: false
      matrix:
        sdk: [stable]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Pull and run chromadb container
        run: |
          docker pull chromadb/chroma:0.5.16
          docker run -d --name chromadb-instance -p 8000:8000 chromadb/chroma:0.5.16

      - uses: subosito/flutter-action@e938fdf56512cc96ef2f93601a5a40bde3801046
        with:
          channel: ${{ matrix.sdk }}
      - id: install
        name: Install dependencies
        run: flutter pub get
      - name: Check formatting
        run: dart format --output=none --set-exit-if-changed .
        if: always() && steps.install.outcome == 'success'
      - name: Analyze code
        run: dart analyze --fatal-infos
        if: always() && steps.install.outcome == 'success'
      - name: Run pre-test tool
        run: dart run tool/prepare_dartify_test.dart
        if: always() && steps.install.outcome == 'success'
      - name: Run VM tests
        run: dart test --platform vm
        if: always() && steps.install.outcome == 'success'
