name: objective_c

on:
  # Run on PRs and pushes to the default branch.
  push:
    branches: [main, stable]
    paths:
      - '.github/workflows/objective_c.yml'
      - 'pkgs/objective_c/**'
  pull_request:
    branches: [main, stable]
    paths:
      - '.github/workflows/objective_c.yml'
      - 'pkgs/objective_c/**'
  schedule:
    - cron: "0 0 * * 0"

env:
  PUB_ENVIRONMENT: bot.github

jobs:
  # Check code formatting and static analysis.
  analyze:
    runs-on: macos-latest
    defaults:
      run:
        working-directory: pkgs/objective_c/
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b
      - uses: subosito/flutter-action@44ac965b96f18d999802d4b807e3256d5a3f9fa1
        with:
          flutter-version: 3.19.0
          channel: 'stable'
      - id: install
        name: Install dependencies
        run: flutter pub get
      - name: Check formatting
        run: dart format --output=none --set-exit-if-changed .
        if: always() && steps.install.outcome == 'success'
      - name: Analyze code
        run: flutter analyze --fatal-infos
        if: always() && steps.install.outcome == 'success'

  test-mac:
    needs: analyze
    runs-on: 'macos-latest'
    defaults:
      run:
        working-directory: pkgs/objective_c/
    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b
      - uses: subosito/flutter-action@44ac965b96f18d999802d4b807e3256d5a3f9fa1
        with:
          flutter-version: 3.19.0
          channel: 'stable'
      - name: Install dependencies
        run: flutter pub get
      - name: Build test dylib
        # TODO(https://github.com/dart-lang/native/issues/1068): Remove this.
        run: dart test/setup.dart
      - name: Run VM tests and collect coverage
        run: dart run coverage:test_with_coverage --scope-output=ffigen --scope-output=objective_c
      - name: Upload coverage
        uses: coverallsapp/github-action@3dfc5567390f6fa9267c0ee9c251e4c8c3f18949
        with:
          flag-name: objective_c_tests
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel: true
          path-to-lcov: pkgs/objective_c/coverage/lcov.info
      - name: Upload coverage
        uses: coverallsapp/github-action@3dfc5567390f6fa9267c0ee9c251e4c8c3f18949
        with:
          carryforward: "objective_c_tests,ffigen_macos,jnigen_tests,jni_tests,native_assets_builder_macos,native_assets_builder_ubuntu,native_assets_builder_windows,native_assets_cli_macos,native_assets_cli_ubuntu,native_assets_cli_windows,native_toolchain_c_macos,native_toolchain_c_ubuntu,native_toolchain_c_windows"
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true
