name: swift2objc

on:
  # Run on PRs and pushes to the default branch.
  push:
    branches: [main]
    paths:
      - ".github/workflows/swift2objc.yaml"
      - "pkgs/native_test_helpers/**"
      - "pkgs/swift2objc/**"
  pull_request:
    branches: [main]
    paths:
      - ".github/workflows/swift2objc.yaml"
      - "pkgs/native_test_helpers/**"
      - "pkgs/swift2objc/**"
  schedule:
    - cron: "0 0 * * 0"

env:
  PUB_ENVIRONMENT: bot.github

jobs:
  # Check code formatting and static analysis.
  analyze:
    runs-on: macos-latest
    defaults:
      run:
        working-directory: pkgs/swift2objc/
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: stable
      - id: install
        name: Install dependencies
        run: dart pub get
      - name: Check formatting
        run: dart format --output=none --set-exit-if-changed .
        if: always() && steps.install.outcome == 'success'
      - name: Analyze code
        run: dart analyze --fatal-infos
        if: always() && steps.install.outcome == 'success'
      - name: Verify Foundation cache
        run: |
          dart run tool/generate_foundation_ast.dart
          git diff --exit-code
        if: always() && steps.install.outcome == 'success'

  test-mac:
    needs: analyze
    runs-on: "macos-latest"
    defaults:
      run:
        working-directory: pkgs/swift2objc/
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: stable
      - name: Install dependencies
        run: dart pub get
      - name: Install coverage
        run: dart pub global activate coverage
      - name: Run VM tests and collect coverage
        run: dart pub global run coverage:test_with_coverage --scope-output=swift2objc
      - name: Upload coverage
        uses: coverallsapp/github-action@5cbfd81b66ca5d10c19b062c04de0199c215fb6e
        with:
          flag-name: swift2objc
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel: true
          path-to-lcov: pkgs/swift2objc/coverage/lcov.info
      - name: Upload coverage
        uses: coverallsapp/github-action@5cbfd81b66ca5d10c19b062c04de0199c215fb6e
        with:
          carryforward: "ffigen,jni,jnigen,native_pkgs_macos,native_pkgs_ubuntu,native_pkgs_windows,objective_c,swift2objc,swiftgen"
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true
