name: swiftgen

on:
  # Run on PRs and pushes to the default branch.
  push:
    branches: [main, stable]
    paths:
      - '.github/workflows/swiftgen.yaml'
      - 'pkgs/ffigen/**'
      - 'pkgs/native_test_helpers/**'
      - 'pkgs/objective_c/**'
      - 'pkgs/swift2objc/**'
      - 'pkgs/swiftgen/**'
  pull_request:
    branches: [main, stable]
    paths:
      - '.github/workflows/swiftgen.yaml'
      - 'pkgs/ffigen/**'
      - 'pkgs/native_test_helpers/**'
      - 'pkgs/objective_c/**'
      - 'pkgs/swift2objc/**'
      - 'pkgs/swiftgen/**'
  schedule:
    - cron: "0 0 * * 0"

env:
  PUB_ENVIRONMENT: bot.github

jobs:
  # Check code formatting and static analysis.
  analyze:
    runs-on: macos-latest
    defaults:
      run:
        working-directory: pkgs/swiftgen/
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e
        with:
          channel: 'stable'
      - id: install
        name: Install dependencies
        run: flutter pub get
      - name: Check formatting
        run: dart format --output=none --set-exit-if-changed .
        if: always() && steps.install.outcome == 'success'
      - name: Analyze code
        run: dart analyze --fatal-infos
        if: always() && steps.install.outcome == 'success'

  test-mac:
    needs: analyze
    runs-on: 'macos-latest'
    defaults:
      run:
        working-directory: pkgs/swiftgen/
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e
        with:
          channel: 'stable'
      - name: Install dependencies
        run: flutter pub get
      - name: Install ObjC dependencies
        working-directory: pkgs/objective_c/
        run: flutter pub get
      - name: Build ObjC test dylib
        working-directory: pkgs/objective_c/
        # TODO(https://github.com/dart-lang/native/issues/1068): Remove this.
        run: dart test/setup.dart
      - name: Install coverage
        run: dart pub global activate coverage
      - name: Run VM tests and collect coverage
        run: dart pub global run coverage:test_with_coverage --scope-output=swiftgen
      - name: Upload coverage
        uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b
        with:
          flag-name: swiftgen
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel: true
          path-to-lcov: pkgs/swiftgen/coverage/lcov.info
      - name: Upload coverage
        uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b
        with:
          carryforward: "ffigen,jni,jnigen,native_pkgs_macos,native_pkgs_ubuntu,native_pkgs_windows,objective_c,swift2objc,swiftgen"
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true
